# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
Carthage/Checkouts
Carthage/Build
Preview.html
HackerNews.app.dSYM.zip
report.xml
fastlane/metadata/review_information
fastlane/metadata/trade_representative_contact_information
screenshots.html
fastlane/test_output
